@model ProductVM

<form class="p-5 border mx-auto " method="post" enctype="multipart/form-data">
    <h2 class="pb-4">@(Model.Product.Id!=0?"Update ":"Create ")Book</h2>
    <div class="row">
        <div class="col-10">
            <input hidden asp-for="Product.Id" />
            <input hidden asp-for="Product.ImageUrl" />
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">

                <label asp-for="Product.Title" class="form-label"></label>
                <input asp-for="Product.Title" class="form-control">
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description" class="form-label"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ISBN" class="form-label"></label>
                <input asp-for="Product.ISBN" class="form-control">
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Author" class="form-label"></label>
                <input asp-for="Product.Author" class="form-control">
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ListPrice" class="form-label"></label>
                <input asp-for="Product.ListPrice" class="form-control">
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price" class="form-label"></label>
                <input asp-for="Product.Price" class="form-control">
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price50" class="form-label"></label>
                <input asp-for="Product.Price50" class="form-control">
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price100" class="form-label"></label>
                <input asp-for="Product.Price100" class="form-control">
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.CategoryId" class="form-label"></label>
                <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                    <option disabled selected>---Select Category---</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ImageUrl" class="form-label"></label>
                <input type="file" name="file" asp-for="@Model.Product.ImageUrl" class="form-control">
            </div>
            <div class="row">
                <div class="col-6 pb-5">
                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Create</button>
                    }

                </div>
                <div class="col-6">
                    <a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back To List</a>
                </div>
            </div>
        </div>
        <div class="col-2 pt-50 float-end ">
            <img src="@Model.Product.ImageUrl" width="100%" class="rounded float-right float-end" >
        </div>
    </div>

</form>

@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}